NODE_ENV=development
TCP_HOST=0.0.0.0
TCP_PORT=4002
MONGO_URI=mongodb://localhost:27017/product_service_db
JWT_SECRET=change-me
AUTH_CACHE_TTL_MS=300000
USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=4001
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
