NODE_ENV=development
TCP_HOST=0.0.0.0
TCP_PORT=4003
MONGO_URI=mongodb://localhost:27017/order_service_db
JWT_SECRET=change-me
AUTH_CACHE_TTL_MS=300000
USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=4001
PRODUCT_SERVICE_HOST=127.0.0.1
PRODUCT_SERVICE_PORT=4002
