NODE_ENV=development
TCP_HOST=0.0.0.0
TCP_PORT=4001
MONGO_URI=mongodb://localhost:27017/user_service_db
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
